<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width"/>

  <style type="text/css">
    /* Ink styles go here in production */

    <% include ink.css %>
  </style>
  <style type="text/css">
    .header {
      color: #ccc;
    }

    /* Your custom styles go here */
  </style>
</head>

<body style="background: #AAA">
<table class="body" style="background: #AAA">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="row header" style="background-color: #111514">
          <tr>
            <td class="center" align="center">
              <center>
                <table class="container">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td class="center header-pad">
                            <h1 class="center"><a href="<%- homeLink %>" target="_blank">Finto.me</a></h1>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

              </center>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>
              <table class="row">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td class="text-pad">
                          <%- html %>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>
              <table class="row">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td class="text-pad" style="color: #666; font-size: 13px">
                          Вы можете настроить или удалить <a href="<%- homeLink %>" target="_blank">подписки на уведомления</a>.
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
</body>

</html>
